#buttons_list {
	
}
	#buttons_list #add_hot_button {
		cursor: pointer;
		vertical-align: text-bottom;
	}
	#buttons_list li {
		margin-bottom: 5px;
    padding: 3px 5px;
		border: 1px solid #E4E4E4;
		list-style: none;
		background: white;
	}
		#buttons_list li div.header {
			cursor: move;
		}
			#buttons_list li div.header div.title {
				font-weight: bold;
			}
			#buttons_list li div.header .delete_hot_button {
				float: right;
				vertical-align: text-bottom;
				cursor: pointer;
			}
    #buttons_list li.unique div.title:after {
      content: ' *';
      color: red;
      font-weight: normal;
    }
  #buttons_list div.config {
    margin-top: 5px;
  }
    #buttons_list div.config label {
      margin: 0 5px 0 0 !important;
    }
    #buttons_list div.config div {
      margin-bottom: 3px;
    }
    #buttons_list div.config label:after {
      content: ':';
    }
    #buttons_list div.config input,
      #buttons_list div.config textarea {
      border: 1px solid #000;
      padding: 1px;
      width: 200px;
    }
    #buttons_list div.config textarea {
      height: 80px;
    }
#buttons_repository {
	display: none;
}